<form class="login-container" (submit)="resetPassword()">
<form class="login-container" (submit)="resetPassword()">
    <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Ingresar Correo" autocomplete="off" [formControl]="emailForm"/>
    </mat-form-field>
    <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Recuperar Contraseña</button>
        <button mat-raised-button color="primary" type="submit">Recuperar Contraseña</button>
    </div>
</form>