.boton-crear {
    margin-bottom: 20px;
}

.button-column{
  width: 90px;
}

mat-form-field{
  width: 80%;
}

td{
  height: 60px;
}


::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}

button{
  width: 105px;
}