<form class="login-container">
    <p class="login-heading">Inicio de Sesión</p>
    <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Ingresar Correo" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" placeholder="Ingresar Contraseña" />
    </mat-form-field>
    <div class="button-container">
        <button>Ingresar</button>
        <button>Recuperar Contraseña</button>
    </div>
</form>


