.cssload-container {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cssload-speeding-wheel {
    // content: "";
    width: 200px;
    height: 200px;
    margin: 0 auto;
    animation: load 1s infinite;

  }

  img{
    width: 200px;
  }

  @keyframes load {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }