<!-- THIS HTML IS ONLY FOR TESTING, IT WILL BE REMOVED -->
<!-- <button mat-raised-button color="primary" (click)="handleClick()">
    <mat-icon>qr_code_scanner</mat-icon>
</button> -->
<zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
    [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
    (camerasFound)="onCamerasFound($event)" (camerasNotFound)="onCamerasNotFound($event)"
    (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>

<section class="results" *ngIf="qrResultString">
    <div>
        <small>Result</small>
        <strong>{{ qrResultString }}</strong>
    </div>
    <button mat-icon-button (click)="clearResult()">&times;</button>
</section>

<!-- <p *ngFor="let print of _console">{{print}}</p> -->