.newPass{
    border: 2px solid #33D3FF;
    .newPass__content{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 10rem;
    }
}
.newPass-container{
    height: 100vh;
    display: grid;
    place-items: center;
}