<main class="login">
    <div class="login-div">
        <h1>Recupera tu Cuenta</h1>
        <form class="login-form">
            <mat-form-field class="input-login" appearance="outline">
                <mat-label>Tu Correo</mat-label>
                <input type="email" matInput>
                <mat-icon matPrefix>
                    <img src="assets/icono-correo.svg">
                </mat-icon>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" style="padding: 1.5rem 0;">
                <mat-label>Enviar Correo</mat-label>
            </button>
        </form>
    </div>
</main>
<router-outlet></router-outlet>