<div class="grid">
  <div>
    <p>Tipo de identificación</p>
    <mat-form-field>
      <mat-select placeholder="ID">
        <mat-option value="identificacion">Identificación</mat-option>
        <mat-option value="prorroga">Prórroga</mat-option>
        <mat-option value="sacadem">Sacadem</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div>
    <p>Nombre</p>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Ingrese el nombre" />
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-select placeholder="Elige el laboratorio">
      <mat-option value="laboratorio1">Laboratorio 1</mat-option>
      <mat-option value="laboratorio2">Laboratorio 2</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <p>No. Computadora</p>
    <mat-form-field>
      <mat-label>No. Computadora</mat-label>
      <input matInput placeholder="Ingrese el número de computadora" />
    </mat-form-field>
  </div>

  <div class="button-container flex f-a-center">

    <feature-qr-button/>
  </div>

  <div>
    <p>Grupo</p>
    <mat-form-field>
      <mat-label>Grupo</mat-label>
      <input matInput placeholder="Ingrese el grupo" />
    </mat-form-field>
  </div>

  <div class="note flex f-a-center, f-j-center">
    <p>
      Nota: El número de computadoras asignado será el mismo para ambos
      laboratorios
    </p>
  </div>

  


</div>
