@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


* {
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

.f-a-center{
    align-items: center;
}

.f-j-center{
    justify-content: center;
}