@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

.f-a-center{
    align-items: center;
}

.f-j-center{
    justify-content: center;
}